.filter {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.filter-body {
  width: 100%;
  display: flex;
}

.name-filter, .rating-filter {
  justify-content: center;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  flex: 1 50%;
}
