<member-filter (nameFilterSender)="setNameFilter($event)" (ratingFilterSender)="setRatingFilter($event)"></member-filter>

<h3>Member List:</h3>

<div *ngFor="let member of members | async | byName:nameFilter | byRating:ratingFilter">
  <h3>{{member.name}}</h3>
  <h4>{{member.rating}} || {{member.location}}</h4>
  <button *ngIf="currentRoute != '/admin'" type="button" (click)="viewDetails(member)">View Profile</button>
  <div *ngIf="currentRoute === '/admin'">
    {{member.bio}}
    <member-edit [selectedMember]="member"></member-edit>
  </div>
  <hr>
</div>
