<member-filter (nameFilterSender)="setNameFilter($event)" (ratingFilterSender)="setRatingFilter($event)"></member-filter>

<h3>Member List:</h3>
<div class="list-container">
  <div class="list-item" *ngFor="let member of members | async | byName:nameFilter | byRating:ratingFilter">
    <div class="title">
      <div class="title-name">
        <h3>{{member.name}}</h3>
      </div>
      <div class="title-rating">
        <h3>Rating: {{member.rating}}</h3>
      </div>
    </div>
    <div class="location-body">
      <div class="location">
      Location: {{member.location}}
      </div>
      <div class="profile-button">
        <button *ngIf="currentRoute != '/admin'" type="button" (click)="viewDetails(member)">View Profile</button>
      </div>
    </div>
    <div *ngIf="currentRoute === '/admin'">

      <div class="bio">Bio: {{member.bio}}</div>
      <hr>
      <member-edit [selectedMember]="member"></member-edit>
    </div>
  </div>
</div>


<div class="link">
  <a routerLink="">Return to Home</a>
</div>
