.edit-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.form-input {
  text-align: center;
  flex: 1 50%;
}

textarea {
  max-width: 200px;
  max-height: 120px;
}

button {
  max-height: 55px;
  max-width: 100px;
}

.buttons {
  flex: 2 100%;
  text-align: center;
  justify-content: center;
}

.button {
  flex: 3 50%;
}
